<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
<h1>Enter Details (Not shady, promise)</h1>
<form method="POST" action="/">
    <div class="form-group">
        <h3>Team ID</h3>
        <input type="text" name="teamId">
        <h3>Project ID</h3>
        <input type="text" name="bucketId">
        <h3>Slack Webhook</h3>
        <input type="text" name="webhook">
    </div>
    <input class="btn btn-primary" type="submit" value="submit">
</form>

</body>

</html>